input {
  width: 200px;
  height: 40px;
  padding: 5px;
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: lightblue;
}

.button {
  margin-top: 20px;

  margin-bottom: 20px;
  width: 120px;
  height: 30px;
}
.button:hover {
  background-color: blue;
}

.form {
  display: flex;
  flex-direction: column;
}

.formName {
  margin-right: 20px;
  font-size: 22px;
}
.formNumber {
  font-size: 22px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.contactItem {
  margin-top: 10px;
}

.buttonDelete {
  margin-top: 10px;
  margin-left: 10px;
}
